 p {
     color: grey;
 }
 
 .rating {
     display: block;
     width: 40px;
     height: 30px;
     color: white;
     padding: 2px;
 }
 
 .btn {
     float: right;
 }
 
 .card {
     transition: transform .2s;
     /* Animation */
     border-bottom: 6px solid purple;
     border-bottom-left-radius: 70px;
     border-top: 6px solid purple;
     border-top-right-radius: 70px;
 }
 
 .card:hover {
     transform: scale(1.1);
     /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
 
 .header {
     background: white;
     border-bottom: 5px solid purple;
     padding: 20px;
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
 h1 {
     font-family: 'Festive', cursive;
 }